{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "@",
        "rootPathSuffix": "src"
      }
    ]
  ],
  "sourceMaps": "both",
  "highlightCode": true
}
